services:
    nginx:
        image: nginx:latest
        container_name: nginx
        ports:
            - "8000:80"
        volumes:
            - ./docker/nginx/${APP_ENV}/default.conf:/etc/nginx/conf.d/default.conf
            - ./docker/nginx/${APP_ENV}/snippets/fastcgi-php.conf:/etc/nginx/snippets/fastcgi-php.conf
        networks:
            - laravel
        depends_on:
            - php

    php:
        image: tasks-php:latest
        build:
            context: .
            dockerfile: Dockerfile
            args:
                APP_ENV: ${APP_ENV}
        environment:
            APP_ENV: ${APP_ENV}
            DB_CONNECTION: ${DB_CONNECTION}
            DB_HOST: ${DB_HOST}
            DB_PORT: ${DB_PORT}
            DB_DATABASE: ${DB_DATABASE}
            DB_USERNAME: ${DB_USERNAME}
            DB_PASSWORD: ${DB_PASSWORD}
            REDIS_HOST: ${REDIS_HOST}
        container_name: php

        networks:
            - laravel
        expose:
            - 9000
        depends_on:
            mysql:
                condition: service_healthy
            redis:
                condition: service_started

    mysql:
        image: mysql:8.0.33
        container_name: mysql
        environment:
            MYSQL_DATABASE: ${DB_DATABASE}
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
        volumes:
            - mysql_data:/var/lib/mysql
        ports:
            - "3306:3306"
        networks:
            - laravel
        healthcheck:
            test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-p${DB_PASSWORD}" ]
            interval: 10s
            timeout: 5s
            retries: 3

    redis:
        image: redis:7.0.7
        container_name: redis
        volumes:
            - redis_data:/data
        ports:
            - "6379:6379"
        networks:
            - laravel

networks:
    laravel:
        driver: bridge

volumes:
    mysql_data:
    redis_data:
